{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section id="page_registration" class="flex-center">
    <h2>Connexion</h2>
        {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
        {% endfor %}
        <form method="post" id="forms">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
            <label for="inputEmail" class="required">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="field" autocomplete="email" required autofocus>
            <label for="inputPassword" class="required">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="field" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <p class="flex-center"><button class="button" type="submit">
                Se connecter
            </button></p>
            <p><a href="{{ path('app_forgot_password_request') }}" class="registration-link">Mot de passe oublié</a></p>
            <p>Vous n'avez pas de compte ? <a href="{{ path('app_register') }}" class="registration-link">Inscrivez-vous maintenant</a></p>
        </form>
</section>
{% endblock %}
