{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}
{% block meta %}Page d'accueil{% endblock %}

{% block body %}
<section id="slider">
    {% for categorie, image in imagesParCategorie %}
        {% if image %}
        <a href=" {{ path('vehiculeByCategorie_galerie', {'categorie': image.categoryId} ) }} ">
            <img class="sliderImg"  src="{{ image.img }}" alt="Image de {{ categorie }}">
        </a>
        {% else %}
            <p>Aucune image disponible pour cette catégorie.</p>
        {% endif %}
    {% endfor %}
</section>
<section id="description" class="flex-center">
    <div class="flex-center">
        <h1><span id="part-1">Pure Car</span> <span id="part-2">Location de voiture électrique</span></h1>
        
        <div>
            <p>Notre agence est spécialisée dans la location de voiture électrique. Convaincue que le réchauffement climatique est le souci de tous, nous avons décidés de nous tourner vers des véhicules propres et respectueux de l'environnement afin de contribuer, à notre échelle, à la réduction de la pollution automobile.
            </p>
        </div>
    </div>
</section>
        {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
        {% endfor %}
<section class="flex-wrap flex-center" id="step">
    <h2>Gagnez du temps, louez en ligne</h2>
    <div class="flex-wrap flex-center">
        <div class="flex-wrap flex-center">
            <figure class="flex-between">
                <img src="img/icon-svg/icon-list.svg" alt='pictogramme connexion'>
                <figcaption><span class="number">1.</span> Je me connecte</figcaption>
            </figure>
            <figure class="flex-between">
                <img src="img/icon-svg/icon-profil.svg" alt='pictogramme choix'>
                <figcaption><span class="number">2.</span> Je fais mon choix</figcaption>
            </figure>
        </div>
        <div class="flex-wrap flex-center">
            <figure class="flex-between">
                <img src="img/icon-svg/icon-validate.svg" alt='pictogramme reservation'>
                <figcaption><span class="number">3.</span> Je réserve</figcaption>
            </figure>
            <figure class="flex-between">
                <img src="img/icon-svg/icon-hand.svg" alt='pictogramme agence'>
                <figcaption><span class="number">4.</span> Je me rend à l'agence</figcaption>
            </figure>
        </div>
    </div>
    <h2 class="service">Service</h2>
    <div class="flex-wrap flex-center">
        <p><a href="{{ path('borne_list') }}" class="registration-link">Vous cherchez une borne de recharge ?</a></p>
    </div>

</section>
{% endblock %}
