{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
    {% endfor %}
    <section id="page_registration" class="flex-center">
        <h2>Inscription gratuite</h2>
        <p class="text-intro">Créez votre compte et louez un véhicule éléctrique en toute simplicité: rapide, flexible et facile. Gérer votre reservation sans contrainte et gagnez du temps pour vos prochaines réservations. Cumulez des points à chaques locations et recevez des offres promotionnelles</p>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr': {'id': 'forms'}}) }}
            {{ form_row(registrationForm.pseudo, {'attr': {'class': 'field'}}) }}
            {{ form_row(registrationForm.email, {'attr': {'class': 'field'}}) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <div id="password-requirements">
                <h6>Exigences du mot de passe : </h6>
                    <span class="requirement caractere">-Au moins un caractère spécial (!@#$%^&*()[]{};:<>|./?)</span><br>
                    <span class="requirement majuscule">-Au moins une lettre majuscule</span><br>
                    <span class="requirement minuscule">-Au moins une lettre minuscule</span><br>
                    <span class="requirement chiffre">-Au moins un chiffre</span><br>
                    <span class="requirement longueur">-Minimum 12 caractères</span>
            </div>
            <p><input type="checkbox" name="rgpd" id="rgpd" required><label for="rgpd">J'ai lu et j'accèpte <a href="" class="rgpd-link">la Politique de Protection des Données Personnelles</a></label></p>
            <p class="submit-content"><input type="submit" value="Valider" class="button"></p>
        {{ form_end(registrationForm) }}
    </section>

{% endblock %}
