{% extends 'base.html.twig' %}

{% block description %}Confirmation et paiement réservation{% endblock %}
{% block title %}Confirmation de la réservation{% endblock %}

{% block body %}
<section class="flex-center" id="page_registration">
    <h2>Récapitulatif de la réservation</h2>
    <p><h4>Véhicule :</h4> {{ reservation.vehicule.modele.marque.nom }} - {{ reservation.vehicule.modele.nom }}</p>
    <p><h4>Date de début :</h4> {{ reservation.dateDebut|date('d-m-Y') }}</p>
    <p><h4>Heure de prise en charge :</h4> {{ reservation.dateDebut|date('H:i')|replace({':': 'h'}) }}</p>
    <p><h4>Date de fin :</h4> {{ reservation.dateFin|date('d-m-Y') }}</p>
    <p><h4>Heure de retour :</h4> {{ reservation.dateFin|date('H:i')|replace({':': 'h'}) }}</p>
    <p><h4>Prix :</h4> {{ reservation.prix ~ ' €' }} </p>
    <div class="flex-wrap flex-around">
    <p class='flex-annulation'><a class='lien-annuler' href="{{ path('annuler_reservation', { 'reservationId': reservation.id }) }}">Annuler</a> 
    <a href="{{ path('app_stripe', { 'reservationId': reservation.id }) }}">
        <button class="button" type="submit">Paiement</button>
    </a></p>
    </div>
</section>
{% endblock %}
