{% extends 'base.html.twig' %}

{% block title %}Confirmation de la réservation{% endblock %}

{% block body %}
<section class="flex-center" id="page_registration">
    <h2>Récapitulatif de la réservation</h2>
    <p>Date de début : {{ reservation.dateDebut|date('Y-m-d') }}</p>
    <p>Date de fin : {{ reservation.dateFin|date('Y-m-d') }}</p>
    <p>Prix : {{ reservation.prix }} </p>
    <div class="flex-wrap flex-around">
    <p><a href="{{ path('annuler_reservation', { 'reservationId': reservation.id }) }}">
        <button class="button" type="submit">Annuler</button>
    </a> 
    <a href="{{ path('reservation_confirmer', { 'reservationId': reservation.id }) }}">
        <button class="button" type="submit">Confirmer</button>
    </a></p>
    </div>
</section>
{% endblock %}
