{% extends 'base.html.twig' %}

{% block title %}Confirmation de la réservation{% endblock %}

{% block body %}
<section class="flex-center" id="page_registration">
    <h2>Récapitulatif de la réservation</h2>
    <p>Date de début : {{ reservation.dateDebut|date('d_m_Y') }}</p>
    <p>Date de fin : {{ reservation.dateFin|date('d-m-Y') }}</p>
    <p>Prix : {{ reservation.prix ~ ' €' }} </p>
    <div class="flex-wrap flex-around">
    <p class='flex-annulation'><a class='lien-annuler' href="{{ path('annuler_reservation', { 'reservationId': reservation.id }) }}">Annuler</a> 
    <a href="{{ path('reservation_confirmer', { 'reservationId': reservation.id }) }}">
        <button class="button" type="submit">Confirmer</button>
    </a></p>
    </div>
</section>
{% endblock %}
