{% extends 'base.html.twig' %}

{% block description %}Détails véhicule{% endblock %}
{% block title %}Détails véhicule{% endblock %}

{% block body %}
<section id="content-details" class="flex-center">
    <div class="details flex-center">
        {% for vehicule in vehicules %}
        <img class="voit-detail" src="{{ vehicule.img }}" alt="voiture">
        <div class="mark flex-center">
            <p>{{ vehicule.modele.marque.nom ~ ' ' ~ vehicule.modele.nom }}</p>
        </div>
        <div class="gray">
            <span class=" flex-center-bold">Catégorie</span>
            <span class=" flex-center">{{ vehicule.categorie.nom }}</span>
        </div>
        <div>
            <span class=" flex-center-bold">Autonomie</span>
            <span class=" flex-center">{{ vehicule.autonomie ~ ' km' }}</span>
        </div>
        <div class="gray">
            <span class=" flex-center-bold">Nombre de place</span>
            <span class=" flex-center">{{ vehicule.nbPlace }}</span>
        </div>
        <div>
            <span class=" flex-center-bold">Nombre de porte</span>
            <span class=" flex-center">{{ vehicule.nbPorte }}</span>
        </div>
        <div class="gray">
            <span class=" flex-center-bold">Nombre de place</span>
            {% if vehicule.nbBagage > 1 %}
                <span class=" flex-center">{{ vehicule.nbBagage ~ ' valises' }}</span>
            {% else %}
                <span class=" flex-center">{{ vehicule.nbBagage ~ ' valise' }}</span>
            {% endif %}
        </div>
        <div>
            <span class=" flex-center-bold">Climatisation</span>
            {% if vehicule.climatisation %}
                <span class=" flex-center">Oui</span>
            {% else %}
                <span class=" flex-center">Non</span>
            {% endif %}
        </div>
        <div class="gray">
            <span class=" flex-center-bold">Bluetooth</span>
                {% if vehicule.bluetooth %}
                    <span class=" flex-center">Oui</span>
                {% else %}
                    <span class=" flex-center">Non</span>
                {% endif %}
        </div>
        <div>
            <span class=" flex-center-bold">GPS</span>
                {% if vehicule.gps %}
                    <span class=" flex-center">Oui</span>
                {% else %}
                    <span class=" flex-center">Non</span>
                {% endif %}
        </div>
        <div class="price-content">
            <span class="price flex-center">{{ vehicule.prix ~ ' €/J' }}</span>
            <span><a href=" {{ path('reservationClient_reservation', {'vehiculeId': vehicule.id}) }} " class="booking-btn flex-center button">Je réserve</a></span>
        </div>
    </div>
    {% endfor %}
</section>
<section class="flex-center">
    <div class="info">
        <div class="flex-center title-info">
            <h2>Information importante</h2>
            <p>Tout ce qu'il faut savoir avant d'effectuer votre réservation.</p>
        </div>
        <div class="gray">
            <h4>Condition paiement</h4>
        </div>
        <div class="condition">
            <p class="flex-center text">Le paiement pour la location de ce véhicule peut être effectué avec une carte de débit ou crédit à votre nom. Cette même carte doit être au nom du conducteur principal et devra être présentée au moment de la prise en charge.</p>
        </div>
        <div class="gray">
            <h4>Documents à présenter</h4>
        </div>
        <div class="condition">
            <p class="flex-center text">Au moment de la prise en charge, vous devrez présenter un permis de conduire en cours de validité, une carte d'identité ainsi qu'une ou deux cartes de crédit.</p>
        </div>
    </div>
</section>
{% endblock %}