{% extends 'base.html.twig' %}

{% block title %}Page reservation{% endblock %}

{% block body %}
<section id="search-content" >
    <form action="" method="post" class="flex-center">
        <div class="flex-wrap flex-center select-content">
            <div class="flex-wrap flex-center select">
                <select name="category" id="category" class="flex-center">
                    <option value="Categorie">--Catégorie--</option>
                    <option value="berline">Berline</option>
                    <option value="citadine">Citadine</option>
                    <option value="ludospace">Ludospace</option>
                    <option value="monospace">Monospace</option>
                    <option value="suv">SUV</option>
                    <option value="utilitaires">Utilitaires</option>
                </select>
                <select name="mark" id="mark">
                    <option value="marque">--Marque--</option>
                    <option value="audi">Audi</option> 
                    <option value="bmw">BMW</option>
                    <option value="citroen">Citroën</option>
                    <option value="ds">DS</option>
                    <option value="hyundai">Hyundai</option>
                    <option value="jaguar">Jaguar</option>
                    <option value="kia">Kia</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="mini">Mini-Cooper</option>
                    <option value="mitsubishi">Mitsubishi</option>
                    <option value="nissan">Nissan</option>
                    <option value="peugeot">Peugeot</option>
                    <option value="renault">Renault</option>
                    <option value="smart">Smart</option>
                    <option value="tesla">Tesla</option>
                    <option value="toyota">Toyota</option>
                    <option value="vw">Volkswagen</option>
                </select>
            </div>
            <div class="flex-wrap flex-center select">
                <select name="place" id="place">
                    <option value="place">--Nombre de place--</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                </select>
                <select name="autonomy" id="autonomy">
                    <option value="autonomie">--Autonomie--</option>
                    <option value="100">100 Km à 199Km</option>
                    <option value="200">200 Km à 299Km</option>
                    <option value="300">300 Km à 399 Km</option>
                    <option value="400">400 Km à 499 Km</option>
                    <option value="500">500 Km et plus</option>
                </select>
            </div>
        </div>
        <input type="submit" value="Rechercher" class="button flex-center">
    </form>
</section>
<section id="content-cars">
    <h2>Nos véhicules</h2>
    <div class="flex-wrap flex-between">
        {% for vehicule in vehicules %}
        <div class="car">
            <img class="voit-resa" src=" {{ vehicule.img }} " alt="voiture">
            <div class="mark flex-center">
                <p >{{ vehicule.modele.marque.nom ~ ' ' ~ vehicule.modele.nom }}</p>
            </div>
            <div>
                <span class="price flex-center">{{ vehicule.prix ~ ' €/J' }}</span>
                <span><a href="{{ path('detailCar_reservation', { 'vehiculeId' : vehicule.id }) }}" class="booking-btn flex-center button">Voir détail</a></span>
            </div>
        </div>
        {% endfor %}
        <div id="voitures"></div>
    </div> 
</section>
{% block javascript %} 
<script>
    const box = document.querySelector("#voitures")
    fetch('{{ path("app_vehicules") }}')
    .then(res => res.json())
    .then(data => {
        let html = "";
        console.log(data)
        data.forEach(voiture => {
            html += `<p>Marque : ${voiture.nom}</p>`

            console.log(html)
        })

        box.innerHTML = html;
    })
</script>
{% endblock %}
{% endblock %}

