{% extends 'base.html.twig' %}

{% block title %}Page reservation{% endblock %}

{% block body %}
<section id="search-content" >
    <form action="" method="post" class="flex-center">
        <div class="flex-wrap flex-center select-content">
            <div class="flex-wrap flex-center select">
                <select name="category" id="category" class="flex-center">
                    <option value="Categorie">--Catégorie--</option>
                    {% for vehicule in vehicules %}
                    <option value="Categorie">{{ vehicule.categorie.nom }}</option>
                    {% endfor %}
                </select>
                <select name="mark" id="mark">
                    <option value="Categorie">--Marque--</option>
                    {% for vehicule in vehicules %}
                    <option value="marque">{{ vehicule.modele.marque.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="flex-wrap flex-center select">
                <select name="nbPlace" id="nbPlace">
                    <option value="Categorie">--Nombre de place--</option>
                    {% for vehicule in vehicules %}
                    <option value="place">{{ vehicule.nbPlace }}</option>
                    {% endfor %}
                </select>
                <select name="autonomy" id="autonomy">
                    <option value="Categorie">--Autonomie--</option>
                    {% for vehicule in vehicules %}
                    <option value="autonomie">{{ vehicule.autonomie }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Rechercher" class="button flex-center">
    </form>
</section>
<section id="content-cars">
    <h2>Nos véhicules</h2>
        <div id="voitures" class="flex-wrap flex-between"></div>
</section>

{% block javascript %} 
<script>
    const box = document.querySelector("#voitures");
    fetch('{{ path("app_vehicules") }}')
    .then(function(res) {
        return res.json();
    })
    .then(function(data) {
        let html = "";
        data.vehicules.forEach(function(voiture) {
            html += '<div class="car">';
            html += '<img class="voit-resa" src="' + voiture.image + '" alt="voiture">';
            html += '<div class="mark flex-center">';
            html += '<p>' + voiture.marque + ' ' + voiture.modele + '</p>';
            html += '</div>';
            html += '<div>';
            html += '<span class="price flex-center">' + voiture.prix + ' €/J</span>';
            html += "<span><a href='/reservation/detailCar/" + voiture.id + "' class='booking-btn flex-center button'>Voir détail</a></span>";
            html += '</div>';
            html += '</div>';
        });

        box.innerHTML = html;
    });
</script>

{% endblock %}

{% endblock %}

