{% extends 'base.html.twig' %}

{% block title %}Réservation véhicule{% endblock %}

{% block body %}
<section class="flex-center" id="page_registration">
    <div class="form-container">
        <h2 class="gestion">Ajouter un véhicule</h2>
        {{ form_start(reservationForm, {'attr': {'class': 'forms'}}) }}
        {{ form_row(reservationForm.nom) }}
        {{ form_row(reservationForm.nbPorte) }}
        {{ form_row(reservationForm.nbPlace) }}
        {{ form_row(reservationForm.nbBagage) }}
        {{ form_row(reservationForm.prix) }}
        {{ form_row(reservationForm.categorie) }}
        {{ form_row(reservationForm.modele) }}
        {{ form_row(reservationForm.img) }}
        {{ form_row(reservationForm.bluetooth) }}
        {{ form_row(reservationForm.climatisation) }}
        {{ form_row(reservationForm.gps) }}
        {{ form_end(reservationForm) }}
    </div>
</section>
{% endblock %}