{% extends 'base.html.twig' %}

{% block title %}Réservation véhicule{% endblock %}

{% block body %}
<section class="flex-center" id="page_registration">
    <div class="form-container">
        <h2 class="gestion">Réservation</h2>
        {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
        {% endfor %}
        {% for flash_message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
        {% endfor %}
        {{ form_start(reservationForm, {'attr': {'class': 'forms'}}) }}
        {{ form_row(reservationForm.nom) }}
        {{ form_row(reservationForm.prenom) }}
        {{ form_row(reservationForm.adresse) }}
        {{ form_row(reservationForm.cp) }}
        {{ form_row(reservationForm.ville) }}
        {{ form_row(reservationForm.dateDebut) }}
        {{ form_row(reservationForm.dateFin) }}
        {{ form_end(reservationForm) }}
    </div>
</section>
{% endblock %}