{% extends 'base.html.twig' %}

{% block title %}Gestion multiple{% endblock %}

{% block body %}
    {% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
    {% endfor %}
    {% for flash_message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
    {% endfor %}
    {# {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMPTABLE') %} #}
    <section class="flex-center" id="page_registration">
    <h2>Gestionnaire</h2>
            <div class="form-container">
                <h3 class="gestion">Ajouter une Categorie</h3>
                {{ form_start(categorieForm, {'attr': {'class': 'forms'}}) }}
                {{ form_row(categorieForm.nom) }}
                {{ form_end(categorieForm) }}
                <div class="table-responsive">
                    <table class="table table-striped forms">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Modifier</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categorie in categories %}
                                <tr>
                                    <td>{{ categorie.id }}</td>
                                    <td>{{ categorie.nom }}</td>
                                    <td><a href="{{ path('edit_entity', {'type': 'categorie', 'id': categorie.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                    <td><a href="{{ path('delete_entity', {'type': 'categorie', 'id': categorie.id}) }}" class="delete-link" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette ligne ?')"><i class="fa-solid fa-trash"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-container">
                <h3 class="gestion">Ajouter une marque</h3>
                {{ form_start(marqueForm, {'attr': {'class': 'forms'}}) }}
                {{ form_row(marqueForm.nom) }}
                {{ form_end(marqueForm) }}
                <div class="table-responsive">
                    <table class="table table-striped forms">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Marque</th>
                                <th scope="col">Modifier</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for marque in marques %}
                                <tr>
                                    <td>{{ marque.id }}</td>
                                    <td>{{ marque.nom }}</td>
                                    <td><a href="{{ path('edit_entity', {'type': 'marque', 'id': marque.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                    <td><a href="{{ path('delete_entity', {'type': 'marque', 'id': marque.id}) }}" class="delete-link" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette ligne ?')"><i class="fa-solid fa-trash"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-container">
                <h3 class="gestion">Ajouter un modèle</h3>
                {{ form_start(modeleForm, {'attr': {'class': 'forms'}}) }}
                {{ form_row(modeleForm.nom) }}
                {{ form_end(modeleForm) }}
                <div class="table-responsive">
                    <table class="table table-striped forms">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Marque</th>
                                <th scope="col">Modèle</th>
                                <th scope="col">Modifier</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for modele in modeles %}
                                <tr>
                                    <td>{{ modele.marque.nom }}</td>
                                    <td>{{ modele.nom}}</td>
                                    <td><a href="{{ path('edit_entity', {'type': 'modele', 'id': modele.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                    <td><a href="{{ path('delete_entity', {'type': 'modele', 'id': modele.id}) }}" class="delete-link" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette ligne ?')"><i class="fa-solid fa-trash"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-container">
                <h3 class="gestion">Ajouter un véhicule</h3>
                {{ form_start(detailVehiculeForm, {'attr': {'class': 'forms'}}) }}
                {{ form_row(detailVehiculeForm.autonomie) }}
                {{ form_row(detailVehiculeForm.nbPorte) }}
                {{ form_row(detailVehiculeForm.nbPlace) }}
                {{ form_row(detailVehiculeForm.nbBagage) }}
                {{ form_row(detailVehiculeForm.prix) }}
                {{ form_row(detailVehiculeForm.categorie) }}
                {{ form_row(detailVehiculeForm.modele) }}
                {{ form_row(detailVehiculeForm.img) }}
                {{ form_row(detailVehiculeForm.bluetooth) }}
                {{ form_row(detailVehiculeForm.climatisation) }}
                {{ form_row(detailVehiculeForm.gps) }}
                {{ form_end(detailVehiculeForm) }}
            </div>
            <div class="table-responsive">
                <table class="table table-striped forms">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Marque</th>
                            <th scope="col">Modèle</th>
                            <th class="colonne" scope="col">Autonomie</th>
                            <th scope="col">Prix/J</th>
                            <th scope="col">Img</th>
                            <th scope="col">Editer</th>
                            <th scope="col">Supp.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vehicule in vehicules %}
                            <tr>
                                <td>{{ vehicule.modele.marque.nom }}</td>
                                <td>{{ vehicule.modele.nom }}</td>
                                <td>{{ vehicule.autonomie }}</td>
                                <td>{{ vehicule.prix ~ ' €'}}</td>
                                <td><a href="{{ path('image_entreprise', {'id': vehicule.id}) }}"><i class="fa-solid fa-image"></i></a></td>
                                <td><a href="{{ path('edit_entity', {'type': 'detailVehicule', 'id': vehicule.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                <td><a href="{{ path('delete_entity', {'type': 'detailVehicule', 'id': vehicule.id}) }}" class="delete-link" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette ligne ?')"><i class="fa-solid fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {# {% else %} #}
    {# Si l'utilisateur n'a pas les droits, afficher un message flash #}
    {# {% set message = 'Vous n\'avez pas les droits pour cette action.' %}
    {% set message_type = 'danger' %}
    {% include 'partials/flash_message.html.twig' with {'message': message, 'message_type': message_type} %}
    {% endif %} #}
    
{% endblock %}
