{# {% extends 'base.html.twig' %}

{% block title %}Ajouter véhicule{% endblock %}
{% block description %}Photo du véhicule{% endblock %}


{% block body %}
<section id="page_registration" class="flex-center">
    <h2>Ajouter un véhicule</h2>
    <form action="" method="post" id="forms">
        <label for="categorie">Catégorie*</label>
        <select class="" id="categorie" name="categorie">
            <option value=""></option>
            {% for categorie in categories %}
                <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
            {% endfor %}
        </select>
        <label for="categorie">Marque*</label>
        <select class="" id="marque" name="marque">
            <option value=""></option>
            {% for marque in marques %}
                <option value="{{ marque.id }}">{{ marque.nom }}</option>
            {% endfor %}
        </select>
        <label for="categorie">Modèle*</label>
        <select class="" id="modele" name="modele">
            <option value=""></option>
            {% for modele in modeles %}
                <option value="{{ modele.id }}">{{ modele.nom }}</option>
            {% endfor %}
        </select>
        <label for="autonomie">Autonomie*</label>
            <input type="number" name="autonomie" id="autonomie" class="field" required>
        <label for="nbPorte">Nombre porte*</label>
            <input type="number" name="nbPorte" id="nbPorte" class="field" required>
        <label for="nbPlace">Nombre Place*</label>
            <input type="number" name="nbPlace" id="nbPlace" class="field">
        <label for="nbBagage">Nombre bagage*</label> 
            <input type="number" name="nbBagage" id="nbBagage" class="field" required>
        <label for="prix">Prix à la journée*</label> 
            <input type="number" name="prix" id="prix" class="field" required>
        <label for="bluetooth">Bluetooth</label> 
            <input type="checkbox" name="bluetooth" id="bluetooth" class="field" required>
        <label for="climatisation">Climatisation</label> 
            <input type="checkbox" name="climatisation" id="climatisation" class="field" required>
        <label for="gps">GPS</label> 
            <input type="checkbox" name="gps" id="gps" class="field" required>
            
            
        <p class="submit-content"><input type="submit" value="Valider" class="button"></p>
        </form>
</section>
{% endblock %} #}
