{% extends 'base.html.twig' %}

{% block description %}Liste des clients{% endblock %}
{% block title %}Liste des clients{% endblock %}

{% block body %}
<section id="content-user" class="flex-center-user">
   
        <h2>Liste des clients</h2>
        <div class="table-responsive">
            <table class="table table-striped forms">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="{{ path('profil_user', {'idClient': user.id}) }}" class="user-login">{{ user.pseudo}}</a></td>
                        <td> {{ user.email }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="button-archive" href="{{ path('app_userArchived') }}" class="content-connect">Client archivé</a>
</section>
{% endblock %}
