{% extends 'base.html.twig' %}

{% block title %}Liste des réservations de {{ user.nom }} {{ user.prenom }}{% endblock %}

{% block body %}
<section id="page_registration" >
        <h2>Mon profil</h2>
        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
            {% endfor %}
            {% for flash_message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
            {% endfor %}
            <div class="card-profil">
                <div class="top">
                    <div>
                        <h3 class="txt-light blue"><i class="ri-user-line"></i>&nbsp;{{ app.user.pseudo }}</h3>
                        <h3>{{ app.user.nom }} {{ app.user.prenom }}</h3>
                        <p class="blue"><i class="ri-mail-line blue"></i>&nbsp;{{ app.user.email }}</p>
                        <p class="txt-light"><i class="ri-map-pin-2-line blue"></i>&nbsp;{{ app.user.adresse }}</p>
                        <p class="blue">{{ app.user.cp }} {{ app.user.ville }}</p>
                        <p><a href="{{ path('app_forgot_password_request') }}" class="registration-link">Editer mot de passe</a></p>    
                          <p><a href="{{ path('delete_user', {'id': app.user.id}) }}" class="delete-link" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre profil ?')"><i class="fa-solid fa-trash"></i></a>
                          <a href="{{ path('edit_user', {'id': app.user.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></p>
                    </div>
                    <div>
                        {# <img src="{{ user.picture.large}}" alt=""> #}
                    </div>
                </div>
            </div>

        <h2>Liste des réservations</h2>
        <div class="card-profil">
            {% if reservations %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th><h4>Véhicule</h4></th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                {% if reservation.confirmation %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ reservation.vehicule.modele.marque.nom ~ ' ' ~ reservation.vehicule.modele.nom }}</td>
                    <td>{{ reservation.dateDebut|date('Y-m-d') }}</td>
                    <td>{{ reservation.dateFin|date('Y-m-d') }}</td>
                    <td>{{ reservation.prix ~ ' €' }}</td>
                </tr>
                {% endif %}
                {% endfor %}    
                {% else %}
                <h3>Il n'y a aucune réservation pour le moment</h3>
                {% endif %}
            </tbody>
        </table>
        </div>
</section>
{% endblock %}
                    
            

        
